@font-face {
  font-family: "Outfit";
  src: url(../font/Outfit-Regular.ttf);
}
@font-face {
  font-family: "Outfit Medium";
  src: url(../font/Outfit-Medium.ttf);
}
@font-face {
  font-family: "Outfit Bold";
  src: url(../font/Outfit-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
:root {
  --green: #4e9d2d;
  --yellow: #ffdf19;
  --light: #f2f5f5;
}
header {
  background: linear-gradient(90deg, #4e9d2d, #ffdf19 85%);
  color: #fff;
  padding: 32px 24px;
}
.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-family: Outfit Bold;
  font-size: 20px;
}
.divider {
  border-top: 1px solid hsla(0, 0%, 100%, .1);
  height: 1px;
  margin: 12px 0;
}
.value {
  font-family: Outfit Bold;
  font-size: 16px;
}
.flex-header a {
  width: 90px;
  height: 32px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Outfit Bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  background: var(--yellow);
  font-size: 15px;
}
.flex-header a.withdraw-btn {
  background: white;
  color: var(--green);
}
main {
  padding: 10px 10px 100px 10px;
}
.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
  font-family: "Outfit Medium";
}
.header-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--green);
  text-decoration: none;
}
.section-content {
  background: var(--light);
  padding: 32px;
  font-size: 14px;
  font-family: Outfit Bold;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 20px;
}
.earning-container {
  text-align: center;
}
.earning-circle {
  align-items: center;
  border: 6px solid var(--yellow);
  border-radius: 50%;
  color: var(--yellow);
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 12px;
  width: 100px;
}
.router-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  align-items: center;
  margin-bottom: 24px;
}
.router-items {
  padding: 24px 0;
  background: var(--light);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  row-gap: 10px;
  color: var(--green);
}
.company-container {
  margin: 16px auto 24px;
  padding: 16px;
  background: var(--light);
}
.company-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e4;
}
.company-item img {
  height: 100%;
}
.company-item-desc {
  color: #464646;
  font-size: 12px;
}
footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e8e8e4;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -1px 0 0 rgba(29,68,119,.15);
  height: 88px;
  z-index: 101;
}
footer nav {
  width: 100%;
  height: 100%;
}
footer ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464646;
}
footer ul a {
  width: 33%;
  height: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #464646;
}
footer ul a li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  row-gap: 2px;
}
footer ul a.active li svg, 
footer ul a.active li p {
  stroke: var(--green);
  color: var(--green);
}

.slider-section {
  padding-bottom: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-inline: auto;
}

.swiper-slide {
  padding: 5px;
  border-radius: 20px;
  background: var(--light);
}

.slide-img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 15px;
  background: url(https://picsum.photos/300);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-label {
  padding: 3px 5px;
  font-size: 14px;
  background: #fff5;
  color: white;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.slide-content {
  margin: 6px auto;
}

.slide-content-header, .slide-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-content-header .slide-name {
  font-size: 16px;
  font-weight: 600;
}

.slide-content-header .vip {
  font-size: 17px;
  color: orangered;
  border-block: 2px solid orangered;
}

.slide-details {
  margin: 5px auto;
}

.slide-details .tips {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: #888;
  margin-bottom: 2px;
}

.slide-details .tips span:nth-child(2) {
  color: black;
}

.slide-content-footer .price {
  font-size: 20px;
  color: orangered;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.slide-content-footer .invest-btn {
  padding: 10px 15px;
  font-size: 16px;
  background: orangered;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  border-radius: 20px;
}












.primary-btn {
  text-decoration: none;
  color: white;
  font-weight: 700;  
  background: var(--green);
}
.secondary-btn {
  color: var(--green);
  background: var(--light);
  font-weight: 700;
}
#redeemCode {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 17px;
}

.overlay {
  width: 100vw;
  min-height: 100vh;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: auto;
}

.popup.active { 
  opacity: 1;
  pointer-events: auto;
}

.popup {
  padding: 24px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(90deg, #4e9d2d, #ffdf19 85%);
  border-radius: 60px;
  z-index: 102;
  color: #0f0f0f;
  min-width: 340px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.popup .flex {
  padding: 40px 16px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.popup h3 {
  font-size: 20px;
  color: white;
}